.main_OutputBox{
    box-shadow: 0px 1px 2px 4px rgba(0, 0, 0, 0.692);
    padding: 2.2rem;
    margin: 3rem auto;
    width: 35rem;
    position: relative;
    border-radius: 4px;
}

.main_OutputBox span{
    position: absolute;
    left: 15px;
    top: 15px;
}

.main_OutputBox span svg{
    font-size: 25px;
    color: rgb(126, 120, 120);
    transition: all 0.6s ease-in-out;
}

.main_OutputBox span svg:hover{
    transform: translateX(-5px);
}

.countDown_Timer{
    text-align: center;
    padding: 1rem;
    background: rgba(18, 61, 109, 0.767);
    margin: 1rem;
    border-radius: 4px;
}

.countDown_Timer h3,h2{
    color: #fff;
}

.user_seatDetails{
    padding: 1rem;
}

.user_seatDetails h4{
    text-align: center;
    padding-bottom: 1rem;
    color: rgb(134, 125, 125);
    font-weight: 400;
    text-decoration: underline;
}

.user_seatDetails h2{
    color: rgb(100, 98, 98);
    font-weight: 400;
    font-size: 16px;
}

.submit_btn{
    text-align: center;
    padding: 1rem;
}

.submit_btn button{
    padding: 0.7rem 1.3rem;
    border: none;
    background: rgba(18, 61, 109, 0.767);
    color: #fff;
    transition: all 0.9s ease-in-out;
    font-size: 0.9rem;
    cursor: pointer;
}

.submit_btn button:hover{
    border-radius: 25px;
    background: rgb(18, 16, 28);
}

.successfully_submit{
    text-align: center;
    padding: 5rem;
    font-size: 2.5rem;
    background: rgba(236, 86, 236, 0.904);
    height: 75.8vh;
    color: #fff;
}

.back_button{
    padding: 3rem;
}

.back_button a{
    text-decoration: none;
    color: rgb(17, 17, 16);
    font-size: 1rem;
    border: 1px solid rgb(20, 72, 151);
    padding: 0.5rem 0.8rem;
    transition: all 0.8s ease-in-out;
}

.back_button a:hover{
    background-color: rgba(234, 236, 236, 0.699);
}