.bollywood_card_heading{
    padding: 2rem;
    background-color: rgba(162, 185, 136, 0.452);
    transition: all 0.8s ease-in-out;
    margin: 2rem 0rem 1.5rem 0rem;
}

.bollywood_card_heading:hover{
    box-shadow: 0px 1px 2px 4px rgb(85, 81, 81);
    background: rgba(162, 185, 136, 0.233);
}

.bollywood_card_heading h2{
    color: rgb(85, 81, 81);
}

.card_movieList{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
}

.movieCard{
    width: 20rem;
    margin: 1rem auto;
}

.movie_name_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movieCard .movie_name h2{
    color: black;
    margin: 0.5rem 0.8rem;
    font-size: 1.2rem;
}

.movie_name_flex a{
    text-decoration: none;
    padding: 0.4rem 1rem ;
    background: rgba(4, 7, 173, 0.582);
    border-radius: 14px;
    font-weight: 600;
    color: #fff;
    margin: 1rem;
    transition: all 0.8s ease-in-out;
}

.movie_name_flex a:hover{
    background-color: blue;
}

.movieCard .movie_img{
    display: flex;
    justify-content: center;
}

.movieCard .movie_img img{
    width: 18rem;
    height: 50vh;
    margin: 1rem;
}

@media (max-width:365px) {
    .bollywood_card_heading{
        padding: 1rem;
        margin: 0.4rem 0rem 0.4rem 0rem;
    }
    .bollywood_card_heading h2{
        font-size: 0.8rem;
    }
    .card_movieList{
        width: 100vw;
    }
}